<header class="masthead text-center text-white">
  <div class="masthead-content">
		<div class=container style="width:40%; height:350px; vertical-align:top; margin-left:auto; margin-right:auto" >
			<h2>What do you think of the <%=@medium.title%>?</h2>
			<br><br>
<%= form_tag "/user/#{@queued_medium.user_id}/#{@queued_medium.medium_id}/rated", method:'post' do %>
	<% RatingRecord.categories.each do |category| %>
			<label class="btn btn-dark">
				<input type="radio" name="category" autocomplete="off" value="<%= category %>"><%="     #{category}"%>
  		</label>
	<% end %>
	<br><br><br>
	<button class="btn btn-outline-light my-2 my-sm-0" type="submit">Done rating</button>
<% end %>
</div>
</div>
</header>
