<header class="masthead text-center text-white">
  <div class="masthead-content">
    <div class="container">
      <h1  class="masthead-heading mb-0">Suggsting</h1>
      <h2 class="masthead-subheading mb-0">is the new cool</h2>
      <a style= "margin-top: .5rem;" href="<%=signup_path%>" class="btn btn-primary btn-xl rounded-pill mt-5">Sign up</a>
    </div>
  </div>
  <div class="bg-circle-1 bg-circle"></div>
  <div class="bg-circle-2 bg-circle"></div>
  <div class="bg-circle-3 bg-circle"></div>
  <div class="bg-circle-4 bg-circle"></div>
</header>
<br><br><br><br>

<!-- Services -->
 <section id="services">
   <div class="container">
     <div class="row">
       <div class="col-lg-12 text-center">
         <h2 class="section-heading text-uppercase">What is it for?</h2>
         <h3 class="section-subheading text-muted">An interactive suggestion list that keeps track of your to-do list of fun</h3>
         <br><br>
       </div>
     </div>
     <div class="row text-center">
       <div class="col-md-4">
         <span class="fa-stack fa-4x">
           <div class="p-5">
             <img class="img-fluid rounded-circle" src="images/listing.png" alt="">
           </div>
         </span>
         <h4 class="service-heading">Make your own list</h4>
         <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
       </div>
       <div class="col-md-4">
         <span class="fa-stack fa-4x">
         <div class="p-5">
            <img class="img-fluid rounded-circle" src="images/friends.png" alt="">
         </div>
         </span>
         <h4 class="service-heading">Suggest to friends</h4>
         <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
       </div>
       <div class="col-md-4">
         <span class="fa-stack fa-4x">
         <div class="p-5">
            <img class="img-fluid rounded-circle" src="images/follow.png" alt="">
         </div>
         </span>
         <h4 class="service-heading">Follow other suggstrrs</h4>
         <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
       </div>
     </div>
   </div>
 </section>
