
<h2><%=@medium.title %> - <small>(<%=@medium.type.name %>)</small></h2>

<h3>Tags:</h3>

<ul>
  <% @medium.tags.each do |tag| %>
    <li>
      <%= link_to tag.name, tag %>
    </li>
  <% end %>
</ul>

<p><%= pluralize(@medium.users.length, "user",) %> have this in their queue</p>
