// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
   position: relative;
   padding-top: 120px;
   padding-bottom: 100px;
   min-height: 100%;
}

.container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
